<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{id == "" ? 'Add Contact' : "Edit Contact"}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-input [(ngModel)]="id" type="hidden"></ion-input>
  <ion-item>
    <ion-input [(ngModel)]="nama" type="text" placeholder="Nama"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input [(ngModel)]="telp" type="text" placeholder="Telepon"></ion-input>
  </ion-item>
  <ion-item>
      <ion-input [(ngModel)]="email" type="text" placeholder="Email"></ion-input>
    </ion-item>   
    <ion-button expand="block" (click)="save()">SAVE</ion-button>
</ion-content>
