<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>view-contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-avatar>
    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
  </ion-avatar>
  <ion-list>
    <ion-item>
      <ion-label>{{data.Nama}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{data.Telp}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{data.Email}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>