<ion-header>
  <ion-toolbar>
    <ion-title>
      Contacts
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar animated placeholder="Search" (input)="filterData($event.target.value)"></ion-searchbar>  
  <ion-list>
      <ion-item-sliding *ngFor="let kontak of data" >
          <ion-item (click)="singleData(kontak)"> 
              <ion-avatar slot="start">
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
              </ion-avatar>     
              <ion-label>
                <h3>{{kontak.Nama}}</h3>
                <p>{{kontak.Telp}}</p>
              </ion-label>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option (click)="Edit(kontak)">Edit</ion-item-option>
          <ion-item-option color="danger" (click)="Delete(kontak.ID)">Delete</ion-item-option>
        </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addData()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
